@using Blog.Services.Interfaces
@using Blog.Enums

@model IEnumerable<BlogPost>

@inject IImageService ImageService

@{
  ViewData["Title"] = "Popular";
}

<div class="axil-post-list-area axil-section-gap bg-color-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title">
          <h2 class="title mb--40">Posts that are being talked about</h2>
        </div>
      </div>
      <div class="col-lg-8 col-xl-8">
        @foreach (var blogPost in Model)
        {
          <!-- Start Single Post  -->
          <div class="content-block post-list-view mb--20">
            <div class="post-thumbnail">
              <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                <img src="@ImageService.ConvertByteArrayToFile(blogPost.ImageData, blogPost.ImageType, (int)DefaultImage.BlogPostImage)" alt="Post Images">
              </a>
            </div>
            <div class="post-content">
              <div class="post-cat">
                <div class="post-cat-list">
                  <a class="hover-flip-item-wrapper" asp-action="Details" asp-route-id="@blogPost.CategoryId" asp-controller="Categories">
                    <span class="hover-flip-item">
                      <span data-text="@blogPost.Category?.Name">@blogPost.Category?.Name</span>
                    </span>
                  </a>
                </div>
              </div>
              <h6 class="title">
                <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                  @blogPost.Title
                </a>
              </h6>
              <div class="post-meta">
                <ul class="post-meta-list">
                  <li>@blogPost.CreatedDate.ToString("MMM dd, yyyy")</li>
                  <li>@blogPost.Comments.Count Comments</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Single Post  -->
        }

      </div>
    </div>
  </div>
</div>